body{
	font-family: 'Roboto', sans-serif;
	color:green;
	
}


img{
	max-width: 100%;
	height:auto;
}

* {
	box-sizing: border-box;
}

a{
	color:$mainOrange;
}

h1{
	color:orange;
	text-align:center;
}
header p{
	color:green;
	
}
footer{
	color:orange;
}