html {
	background-color:$lightGreen;

}

* {
	box-sizing: border-box;
}

body {
	font-family: Tahoma, sans-serif;
	font-size: 87%;

}
header {
	margin-top:20px;
	padding:20px 0 0 0;
	color:$somewhatGreen;

	h1 {
		margin:0;
		font-weight:normal;
		font-size:165%;
	}

	p {
		margin:0;
		margin-bottom:10px;
	}
}



.site-nav {
	margin-top:20px;
	li {
		list-style:none;
		float:left;
		margin-right:5px;
	}

	ul{
		margin:0;
		padding:0;
		@mixin clearfix;
	}

	a {
		text-decoration:none;
		color:$lightGreen;
		padding:10px 20px;
		border:3px solid $veryLightGreen;
		border-bottom:none;
		display:block;
		&:hover{
			background-color:$veryLightGreen;
			transition:0.3s ease-out;
		}
	}
}

.container {
	max-width: 940px;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	padding:0 40px;

	
}

.content-area{

	border-top:3px solid $veryLightGreen;
	border-bottom:3px solid $veryLightGreen;
	@mixin clearfix;
}

.main-area{
	width:66%;
	float:left;
	padding:0 40px 0 0;
	
}

.sidebar { 
	width:34%;
	float:left;
	background-color: $veryLightGreen;
	padding:20px 40px;
	font-size:85%;

}



footer {
	text-align:center;
	padding:20px 0;
	font-size:85%;
	color:#999;
}

