.modal {
	position:fixed;
	display: block;
	z-index:10;
	opacity:0;
	visibility:hidden;
	background-color:rgba($mainBlue,0.9);
	top:0;
	bottom:0;
	right:0;
	left:0;
	transform:scale(1.2);
	transition:all .3s ease-out;
	
	&--is-visible {
		opacity:1;
		visibility:visible;
		transform: scale(1);
	}

	&__close {
		position: absolute;
		top:15px;
		right:15px;
		font-size:2rem;
		transform:scaleX(1.2);
		transform-origin:100% 0;
		color:$lightgrey;
		cursor:pointer;
		&:hover{
			color:$mainOrange;
		}
	}

	&__video{
		position:absolute;
		top:100px;
		left:260px;
		right:auto;
		bottom:auto;
		transform:scale(1);
		transition:1s ease-in;
		&:hover{  
			transform:scale(1.099);
			transition:2s ease-out;
			cursor:pointer;
		}

		&--border{
			border:20px solid $lightgrey;
		}
	}
}