.site-header {
	margin-top:20px;
	padding:20px 0 0 0;
	color:$somewhatGreen;

	&__btn-container{
		@mixin atMedium{ 
			float: right;
			margin-top:-10px;
		}
	}

	h1 {
		margin:0;
		font-weight:normal;
		font-size:165%;
	}

	p {
		margin:0;
		margin-bottom:10px;
	}

}